* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table {
  margin: 0 auto;
  border: 1px solid #444444;
  border-collapse: collapse;
}

thead,
tbody {
  text-align: left;
}

th,
td {
  padding: 10px;
  width: 200px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

th:nth-of-type(1),
td:nth-of-type(1) {
  width: 100px;
}

.button-container__paginated {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-data__none {
  padding: 20px 0;
  text-align: center;
}
